body {
    background: #d7e6e8;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main, #chats {
    width: 500px;
    margin: auto;
    text-align: left;
    background: #f9f9f4;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    /*color: #fff;*/
    /*background-color: #0090da;*/
    font-weight: bold;
}

button.username {
  float: left;
  padding-top: 7px;
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  font-variant: small-caps;
  width: 120px;
  /*white-space: nowrap;*/
  overflow: hidden;
  text-overflow: ellipsis;
}

span.messageText {
  margin-left: 12px;
  font-family: 'Oswald', sans-serif;
}

.container {
  height: 32px;
  padding-top: 4px
}

.inputbar {
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: 'Faustina', serif;
}

input {
  padding-left: 3px;
  padding-right: 9px;
}

.inputbarSpan {
  padding-right: 6px;
}

button.refresh {
  float: right;
}

#friends {
  font-family: 'Josefin Slab', serif;
}

span.friendsHeader {
  font-style: italic;
}

span.usernameText {
  width: 100px;

}
